{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="card bg-white border-0 rounded-4 shadow-lg p-4 mx-auto" style="max-width: 800px;">

        <div class="card-title text-center mb-4">
            <h1 class="text-tudarkblue fw-bold">Contact Us</h1>
        </div>

        <div class="card-body">
            <div id="contact-form-wrapper">
                {% include "partials/contact_form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}